html {
    background-color: aliceblue;
    font-family: roboto;
}


.game_landing_page {
    padding: 5rem;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-right: 1rem;
    padding-bottom: 8rem;
}
h1 {
    text-align: center;
}

.front-end-assessment {
    padding: 8rem;
    background-color: rgb(224, 220, 220);
    border-radius: 10px;
    

}

.each_link {
    text-decoration: none;
    color: white;
    
}

.container {
    display: flex;
}

.logo_game {
    max-width: 20%;

}
.sign {
    display: flex;
}

.small {
   background-color: blueviolet;
   width: 10px;
   height: 16px;
   border-radius: 16px;
   margin-right: 0.25rem;
   
}


.larg {

   background-color: rgb(230, 47, 199);
   width: 16px;
   height: 32px;
   border-radius: 16px;

}

.game_link {
    background-color: #a96be2;
    box-shadow: 5px 6px 10px deeppink;
    padding: 5rem;
    max-width: 50%;
    border-radius: 20px;

}
.data_link {
    background-color: darkolivegreen;
    box-shadow: 5px 6px 10px rgb(8, 163, 91);
    max-width: 50%;
    padding: 5rem;
    border-radius: 20px;
    margin-inline-start: 1rem;
}